@page
@model TeamSeguros.Pages.Clients.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Lista de clientes</h1>

<a asp-page="./Add" class="btn btn-primary"><i class="fas fa-user-plus"></i> Añadir Cliente</a>

<form class="m-2">
    <div class="row">
        <div class="col-10">
            <input type="text" name="SearchString" placeholder="Ingrese un dato a buscar" class="form-control"/>

        </div>
        <div class="col-2">
            <button  type="submit" class="btn btn-primary btn-block" >
            <i class="fas fa-search"></i> Buscar
            </button>
             
        </div>
    </div>
</form>

<form method="post">


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nombres</th>
                <th scope="col">Apellido</th>
                <th scope="col">Tipo de documento</th>
                <th scope="col">Documento</th>
                <th scope="col">Fecha de nacimiento</th>
                <th scope="col">Ciudad de residencia</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var client in Model.Clients)
            {

                <tr>
                    <td>@client.Nombres</td>
                    <td>@client.Apellidos</td>
                    <td>@client.TipoDocumento</td>
                    <td>@client.NumeroDocumento</td>
                    <td>@client.FechaNacimiento.Date.ToString("dd/MM/yyyy")</td>
                    <td>@client.CiudadResidencia</td>
                    <td>
                        <a asp-page="../Vehicles/Index" asp-route-id="@client.Id" class="btn btn-secondary"><i class="fas fa-truck-pickup"></i> Vehiculos</a>
                        <a asp-page="./Edit" asp-route-id="@client.Id" class="btn btn-success"><i class="far fa-edit"></i> Editar</a>
                        <button type="submit" asp-page-handler="Delete" asp-route-id="@client.Id" class="btn btn-danger"><i class="far fa-trash-alt"></i> Elimar</button>
                    </td>
                </tr>
            }


        </tbody>
    </table>
    @if (Model.Clients == null || !Model.Clients.Any())
    {
        <div class="alert alert-primary" role="alert">
            No se encontraron clientes.
        </div>
    }
</form>
